* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-around;
  padding-top:20px;
}
.navbar > a {
  text-decoration: none;
  font-size: 25px;
  color: #fff;
}
.navbar>a:hover{
    color:red;
}
